*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #969191;
    --buttons: #192D71;
    --fonts-color: #000000;
  }
  @font-face {
    font-family: 'mainfontbold';
    src: url(../fonts/PragatiNarrow-Bold.otf);
  }

 html, body{
    background-color: var(--background);
    max-width: 100%;
    overflow-x: hidden;
  }

  ul{
    list-style-type: none;
  }
  
  a{
    text-decoration: none;
    color: var(--fonts-color);
  }

  /* ---------------------------------------------------------
  --------------- Banner And Navbar Section------------------
  -------------------------------------------------------------*/

  .banner-nevbnar{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom ,rgba(217, 217, 217, 1),rgba(0, 0, 0, 0.404));
  }
  
  .nevbar{
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 10%;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    display: flex;
  }
  .logo{
    padding: 5px,5px,5px,5px;
    justify-content: center;
    align-items: center;
  }
  .menu-items{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nev-items{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    column-gap: 60px;
    font-family: 'mainfontbold';
    font-size: 20px;
    gap: 60px;
  }

  .nev-items a:hover, li:active{
    color: var(--buttons);
    text-decoration:underline;
  }

  .mobile-nevbar{
    display: none;
    background: transparent;
    cursor: pointer;
  }
  .cancel{
    display: none;
  }
  
  .mobile-nevbar-manu{
  width: 2.2rem;
  height: 2.2rem;
  }
  /* Responsive Navbar */

     /* 980px */

  @media(max-width:62em){
    .mobile-nevbar{
      display: block;
      z-index: 999;
      
    }
    .nevbar{
      position: relative;
    }
    .menu-items{
      width: 50%;
      height: 100vh;
      background: linear-gradient(to bottom ,rgba(217, 217, 217, 1),rgba(0, 0, 0, 0.404)) ;
      position: absolute;
      top:0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: all 0.5s linear;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    .nev-items{
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    .active .menu-items {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
    
    .active .mobile-nevbar .cancel{
      display: block;
    }

    .active .mobile-nevbar .menu{
      display: none;
    }
  }

   /* below 560px */
   @media(max-width:35em){

    .nevbar{
      padding: 0 2.4rem;

    }
   }
  